.applyButton {
    border: none;
    border-radius: 4px;
    background-color:#117cd3;
    color: white;
    padding: 8px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 0vw 1vw;
    cursor: pointer;
}
  
button.applyButton:hover {
    background: #3996E1; 
}

button.applyButton:active {
    background: #2873b1;
}