<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="./node_modules/gojs/release/go-debug.js"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Architecture Mining</title>
</head>

<body>
    <div id="diagramDiv"></div>

    <div id="config">
        <h2>{{ title }}</h2>
        <div class="group" v-for="group in groups">
            <div class="groupName" :id="group.id">{{group.description}}</div>
            <div class="groupContent">
                <div v-for="data in group.data" class="groupData">

                    <div v-if="data.type == 'slider'" :class="{disabledElem: evalCondition(data.conditions.disabled)}">
                        {{data.description}}:
                        <input type="range" v-model="data.value" :min="data.min" :max="data.max" :id="data.id"
                            class="slider" :disabled="evalCondition(data.conditions.disabled)"
                            @change="onChange(data.onChange.event, data.value)">
                        {{data.value}}
                    </div>

                    <div v-else-if="data.type == 'checkbox'"
                        :class="{disabledElem: evalCondition(data.conditions.disabled)}">
                        {{data.description}}: <input type="checkbox" v-model="data.value" :id="data.id"
                            :checked="data.value" :disabled="evalCondition(data.conditions.disabled)"
                            @change="onChange(data.onChange.event, data.value)">
                    </div>

                    <div v-else-if="data.type == 'select'"
                        :class="{disabledElem: evalCondition(data.conditions.disabled)}">
                        {{data.description}}:
                        <select id="data.id" v-model="data.value"
                            @change="onChangeSelect(data.onChange.event, data.value)">
                            <option v-for="option in data.options" :value="option.value">{{option.description}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script type="module" src="./Graph/graphCreation.js"></script>
    <script type="module" src="./Graph/updateGraph.js"></script>
    <script type="module" src="./Config/config.js"></script>

</body>

</html>